# Виртуальное окружение (САМОЕ ВАЖНОЕ)
venv/
.venv/
env/

# Python байт-код
**/__pycache__/
*.py[cod]

# Настройки IDE
.vscode/
.idea/

# Переменные окружения (секреты, ключи)
.env

test*.png
test*.mp4
test*.jpg

.glb